apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: todo-app
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:password@postgres.todo-app.svc.cluster.local:5432/hackathon4"
  JWT_SECRET: "change-this-jwt-secret-in-production"
  OPENAI_API_KEY: ""
